.App {
  text-align: center;
}

.column {
  width: 14px;
  margin: 1px;
  background: #61dafb;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

.board {
  height: 250px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons button + button {
  margin-left: 10px;
}
